In [27]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [28]:
# Read in the CSV file
file = Path('/Users/fern/Desktop/Bootcamp_Stuff/Project_4/kingcountysales_2000_2023.csv')
df = pd.read_csv(file)

In [29]:
# Preview the data
df.head()

,Unnamed: 0,sale_id,pinx,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,1,1999..144,..2734100475,1999-01-05,150000,1.0,,demo,1999,47.544359,...,0,0,0,0,0,0,0,0,0,E
1,2,1999..258,..1535200725,1999-01-05,235000,1.0,,demo,1999,47.421247,...,0,0,2,0,0,0,0,0,0,H
2,3,1999..331,..6028000255,1999-01-04,293000,1.0,,demo,1999,47.572103,...,0,0,0,0,0,0,0,0,0,R
3,4,1999..609,..1238501101,1999-01-11,178506,1.0,,demo,1999,47.685567,...,0,0,0,0,0,0,0,0,0,Q
4,5,1999..775,..1939800005,1999-01-07,270000,1.0,,demo,1999,47.764482,...,0,0,0,0,0,0,0,0,0,Q

In [30]:
# Review the data types
print(df.dtypes)

Unnamed: 0            int64
sale_id              object
pinx                 object
sale_date            object
sale_price            int64
sale_nbr            float64
sale_warning         object
join_status          object
join_year             int64
latitude            float64
longitude           float64
area                  int64
city                 object
zoning               object
subdivision          object
present_use           int64
land_val              int64
imp_val               int64
year_built            int64
year_reno             int64
sqft_lot              int64
sqft                  int64
sqft_1                int64
sqft_fbsmt            int64
grade                 int64
fbsmt_grade           int64
condition             int64
stories             float64
beds                  int64
bath_full             int64
bath_3qtr             int64
bath_half             int64
garb_sqft             int64
gara_sqft             int64
wfnt                  int64
golf                  int64
greenbelt             int64
noise_traffic         int64
view_rainier          int64
view_olympics         int64
view_cascades         int64
view_territorial      int64
view_skyline          int64
view_sound            int64
view_lakewash         int64
view_lakesamm         int64
view_otherwater       int64
view_other            int64
submarket            object
dtype: object

In [31]:
# Change the data type of the sale_date column from an object to date time
df['sale_date'] = pd.to_datetime(df['sale_date'])
print(df.dtypes)

Unnamed: 0                   int64
sale_id                     object
pinx                        object
sale_date           datetime64[ns]
sale_price                   int64
sale_nbr                   float64
sale_warning                object
join_status                 object
join_year                    int64
latitude                   float64
longitude                  float64
area                         int64
city                        object
zoning                      object
subdivision                 object
present_use                  int64
land_val                     int64
imp_val                      int64
year_built                   int64
year_reno                    int64
sqft_lot                     int64
sqft                         int64
sqft_1                       int64
sqft_fbsmt                   int64
grade                        int64
fbsmt_grade                  int64
condition                    int64
stories                    float64
beds                         int64
bath_full                    int64
bath_3qtr                    int64
bath_half                    int64
garb_sqft                    int64
gara_sqft                    int64
wfnt                         int64
golf                         int64
greenbelt                    int64
noise_traffic                int64
view_rainier                 int64
view_olympics                int64
view_cascades                int64
view_territorial             int64
view_skyline                 int64
view_sound                   int64
view_lakewash                int64
view_lakesamm                int64
view_otherwater              int64
view_other                   int64
submarket                   object
dtype: object

In [32]:
df.head()

,Unnamed: 0,sale_id,pinx,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,1,1999..144,..2734100475,1999-01-05,150000,1.0,,demo,1999,47.544359,...,0,0,0,0,0,0,0,0,0,E
1,2,1999..258,..1535200725,1999-01-05,235000,1.0,,demo,1999,47.421247,...,0,0,2,0,0,0,0,0,0,H
2,3,1999..331,..6028000255,1999-01-04,293000,1.0,,demo,1999,47.572103,...,0,0,0,0,0,0,0,0,0,R
3,4,1999..609,..1238501101,1999-01-11,178506,1.0,,demo,1999,47.685567,...,0,0,0,0,0,0,0,0,0,Q
4,5,1999..775,..1939800005,1999-01-07,270000,1.0,,demo,1999,47.764482,...,0,0,0,0,0,0,0,0,0,Q

In [33]:
# Drop the data from 1999 to 2019 
df = df[~df['sale_date'].dt.year.between(1999, 2019)]
df.head()

,Unnamed: 0,sale_id,pinx,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
5384,5385,2020..204,..1900000125,2020-01-05,411900,1.0,15 26,demo,1999,47.468289,...,0,0,0,0,0,0,0,0,0,G
5385,5386,2020..386,..0239000190,2020-01-06,1300000,2.0,,demo,1999,47.426686,...,0,0,0,0,0,0,0,4,0,J
5386,5387,2020..532,..5101408525,2020-01-03,625000,NaN,,demo,1999,47.704662,...,0,0,0,0,0,0,0,0,0,C
5387,5388,2020..643,..2156400363,2020-01-06,460000,2.0,24,demo,1999,47.403445,...,0,0,0,0,0,0,0,0,0,I
5388,5389,2020..1044,..3828000430,2020-01-10,225000,2.0,26,demo,1999,47.374124,...,0,0,0,0,0,0,0,0,0,L

In [34]:
# drop the 'Unnamed column'
df = df.drop(columns=['Unnamed: 0', 'pinx', 'sale_warning', 'wfnt', 'golf', 'greenbelt', 'noise_traffic', 'view_rainier', 'view_olympics', 'view_cascades',
             'view_territorial', 'view_skyline', 'view_sound', 'view_lakewash', 'view_lakesamm', 'view_otherwater', 'view_other', 'submarket'])
df.set_index('sale_id')
df.head()

,sale_id,sale_date,sale_price,sale_nbr,join_status,join_year,latitude,longitude,area,city,...,grade,fbsmt_grade,condition,stories,beds,bath_full,bath_3qtr,bath_half,garb_sqft,gara_sqft
5384,2020..204,2020-01-05,411900,1.0,demo,1999,47.468289,-122.348669,23,BURIEN,...,5,0,3,1.0,2,1,0,0,0,0
5385,2020..386,2020-01-06,1300000,2.0,demo,1999,47.426686,-122.280200,50,SEA-TAC,...,7,7,3,1.0,2,1,1,0,0,0
5386,2020..532,2020-01-03,625000,NaN,demo,1999,47.704662,-122.319315,7,SEATTLE,...,6,0,4,1.0,2,1,0,0,0,0
5387,2020..643,2020-01-06,460000,2.0,demo,1999,47.403445,-122.296944,26,DES MOINES,...,6,0,3,1.0,3,1,0,0,0,0
5388,2020..1044,2020-01-10,225000,2.0,demo,1999,47.374124,-122.231177,61,KENT,...,5,0,4,1.0,2,1,0,0,0,0

In [ ]:
df.to_csv('./kingcountysales_2020_2023.csv', index=False)