In [75]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [76]:
# Read in the CSV file
file = Path('/Users/fern/Desktop/Bootcamp_Stuff/Project_4/kingcountysales_2000_2023.csv')
df = pd.read_csv(file)

In [77]:
# Preview the data
df.head()

,Unnamed: 0,sale_id,pinx,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,1,1999..144,..2734100475,1999-01-05,150000,1.0,,demo,1999,47.544359,...,0,0,0,0,0,0,0,0,0,E
1,2,1999..258,..1535200725,1999-01-05,235000,1.0,,demo,1999,47.421247,...,0,0,2,0,0,0,0,0,0,H
2,3,1999..331,..6028000255,1999-01-04,293000,1.0,,demo,1999,47.572103,...,0,0,0,0,0,0,0,0,0,R
3,4,1999..609,..1238501101,1999-01-11,178506,1.0,,demo,1999,47.685567,...,0,0,0,0,0,0,0,0,0,Q
4,5,1999..775,..1939800005,1999-01-07,270000,1.0,,demo,1999,47.764482,...,0,0,0,0,0,0,0,0,0,Q

In [78]:
# Review the data types
print(df.dtypes)

Unnamed: 0            int64
sale_id              object
pinx                 object
sale_date            object
sale_price            int64
sale_nbr            float64
sale_warning         object
join_status          object
join_year             int64
latitude            float64
longitude           float64
area                  int64
city                 object
zoning               object
subdivision          object
present_use           int64
land_val              int64
imp_val               int64
year_built            int64
year_reno             int64
sqft_lot              int64
sqft                  int64
sqft_1                int64
sqft_fbsmt            int64
grade                 int64
fbsmt_grade           int64
condition             int64
stories             float64
beds                  int64
bath_full             int64
bath_3qtr             int64
bath_half             int64
garb_sqft             int64
gara_sqft             int64
wfnt                  int64
golf                  int64
greenbelt             int64
noise_traffic         int64
view_rainier          int64
view_olympics         int64
view_cascades         int64
view_territorial      int64
view_skyline          int64
view_sound            int64
view_lakewash         int64
view_lakesamm         int64
view_otherwater       int64
view_other            int64
submarket            object
dtype: object

In [79]:
# Change the data type of the sale_date column from an object to date time
df['sale_date'] = pd.to_datetime(df['sale_date'])
print(df.dtypes)

Unnamed: 0                   int64
sale_id                     object
pinx                        object
sale_date           datetime64[ns]
sale_price                   int64
sale_nbr                   float64
sale_warning                object
join_status                 object
join_year                    int64
latitude                   float64
longitude                  float64
area                         int64
city                        object
zoning                      object
subdivision                 object
present_use                  int64
land_val                     int64
imp_val                      int64
year_built                   int64
year_reno                    int64
sqft_lot                     int64
sqft                         int64
sqft_1                       int64
sqft_fbsmt                   int64
grade                        int64
fbsmt_grade                  int64
condition                    int64
stories                    float64
beds                         int64
bath_full                    int64
bath_3qtr                    int64
bath_half                    int64
garb_sqft                    int64
gara_sqft                    int64
wfnt                         int64
golf                         int64
greenbelt                    int64
noise_traffic                int64
view_rainier                 int64
view_olympics                int64
view_cascades                int64
view_territorial             int64
view_skyline                 int64
view_sound                   int64
view_lakewash                int64
view_lakesamm                int64
view_otherwater              int64
view_other                   int64
submarket                   object
dtype: object

In [80]:
df.head()

,Unnamed: 0,sale_id,pinx,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,1,1999..144,..2734100475,1999-01-05,150000,1.0,,demo,1999,47.544359,...,0,0,0,0,0,0,0,0,0,E
1,2,1999..258,..1535200725,1999-01-05,235000,1.0,,demo,1999,47.421247,...,0,0,2,0,0,0,0,0,0,H
2,3,1999..331,..6028000255,1999-01-04,293000,1.0,,demo,1999,47.572103,...,0,0,0,0,0,0,0,0,0,R
3,4,1999..609,..1238501101,1999-01-11,178506,1.0,,demo,1999,47.685567,...,0,0,0,0,0,0,0,0,0,Q
4,5,1999..775,..1939800005,1999-01-07,270000,1.0,,demo,1999,47.764482,...,0,0,0,0,0,0,0,0,0,Q

In [81]:
# Drop the data from 1999 to 2019 
df = df[~df['sale_date'].dt.year.between(1999, 2019)]
df.head()

,Unnamed: 0,sale_id,pinx,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
5384,5385,2020..204,..1900000125,2020-01-05,411900,1.0,15 26,demo,1999,47.468289,...,0,0,0,0,0,0,0,0,0,G
5385,5386,2020..386,..0239000190,2020-01-06,1300000,2.0,,demo,1999,47.426686,...,0,0,0,0,0,0,0,4,0,J
5386,5387,2020..532,..5101408525,2020-01-03,625000,NaN,,demo,1999,47.704662,...,0,0,0,0,0,0,0,0,0,C
5387,5388,2020..643,..2156400363,2020-01-06,460000,2.0,24,demo,1999,47.403445,...,0,0,0,0,0,0,0,0,0,I
5388,5389,2020..1044,..3828000430,2020-01-10,225000,2.0,26,demo,1999,47.374124,...,0,0,0,0,0,0,0,0,0,L

In [82]:
# Drop multi-family homes such as condos and townhomes
zoning = df['zoning'].unique()
print(zoning)

# Keep only the desired zoning designations
allowed_zoning = [
    "R-6", "SF 5000", "RM1.8", "RS15000", "SF 7200", "R-1", "R-5", "R6", "RA5P", "RA2.5P", "R-10",
    "R 4", "RS9.6", "R48", "RA5", "R6P", "R5", "RA2.5", "RL", "R4", "R-8.4", "RS5.0", "RA10", "RS9600", "R4P", 
    "R1-5.0", "R-2.5", "RS", "R8P", "RS7200", "R12P", "R-9.6", "R1P", "SR 6", "RSX7.2", "RS7.2", "RS 20000",
    "R-4", "R-15", "R1", "R15", "R16", "SF", "R-1.8", "R-3.5", "RS 9600", "R 11", "RS 10000", "RS8.5", "RSX5.0",
    "R20A", "R24", "RO", "R-8", "SR 4.5", "R 5", "SF-S", "RS 7200", "R12", "R20", "R1-7.2", "RM3.6", "R24P", "R1 7.2",
    "R18", "SF 9600", "RS15.0", "R-7200", "RSX8.5", "R2", "RS12.5", "RS 15000", "R1-9.6", "SFR 10.0", "R", "R1-7.5",
    "R12.5", "R-12", "PLA 6 E", "RSX12.5", "R1-5", "RS8.4", "RS 8", "R18P", "R-6-P", "R30", "R8", "RS 11.2", "R-9600",
    "R40", "RA", "RA10P", "R3", "R-24", "SE", "RS7000", "R 8400", "NR3", "RSA 6", "R2.5", "RSX 7.2", "SR-4.5", "NR1",
    "R7", "RS-7200", "SR-6", "RS-12000", "RSA 4", "R-2", "RS 11", "RA5SO", "RM3600",
    "R 7200", "R10", "RS-9600", "R6SO", "RS-8400", "SR-8", "RA10SO", "R-3", "R 9600", "R-L", "SF-SL",
    "RS 8.5", "RA2.5SO", "A10", "RS 6", "R-14", "RSX 5.0", "SR-3", "RS 7.2", "RS 5.0", "RSX 8.5",
    "RSX 35", "R-7.2", "R 5400d", "RSA 8", "R4.5", "RS-15000", "R12PDPA", "RM-12", "R1SO", "RIN - Single Family Urban",
    "SF-E", "R 40000", "RS 12.5", "R 4000", "RM-18", "RS-4000", "SF-D", "RA-3600", "R 5400a", "R-SR", "SR-1",
    "RS 35", "R 9600", "R 2800", "SR30", "RS 6.3", "RM-48", "BR2", "R-30", "R-7.5", "R-20", "RS-A"
]

df = df[df['zoning'].isin(allowed_zoning)]

['R-6' 'UL-7200' 'SF 5000' 'RM1.8' 'CM-2' 'RS15000' 'L-2' 'SF 7200' 'R-1'
 'R-5' 'L-2 RC' 'R6' 'RA5P' 'RA2.5P' 'R-10' 'R 4' 'RS9.6' 'R48' 'RA5'
 'R6P' 'R5' 'RA2.5' 'RL' 'R4' 'R-8.4' 'RS5.0' 'RA10' 'RS9600' 'R4P'
 'R1-5.0' 'WD II' 'R-2.5' 'CHECK WITH JURIS.' 'MR-E' 'CB' 'L-1' 'RS' 'R8P'
 'LDR' 'RS7200' 'UR' 'GC' 'R12P' 'R-9.6' 'R1P' 'SR 6' 'RSX7.2' 'RS7.2'
 'RM-U' 'NC1-30' 'L-3' 'RS 20000' 'R-4' 'R-15' 'R1' 'CD' 'R15' 'R16' 'DCE'
 'C1-40' 'PLA 7 C' 'CD (P)' 'SF' 'R-1.8' 'R-3.5' 'LDT' 'RS 9600' 'R 11'
 'CA' 'RS 10000' 'RS8.5' 'RSX5.0.' 'R20A' 'R24' 'RO' 'IB U/45' 'R-8' 'BC'
 'SR 4.5' 'PLA 6 C' 'NC2-40' 'R 5' 'SF-S' 'RS 7200' 'R12' 'RB' 'MR-M'
 'C1-30' 'L-3 RC' 'NC1-40' 'NC2-30' 'UR 7.5' 'MF-M' 'PLA 17 a' 'R20' 'URP'
 'R1-7.2' 'RM3.6' 'R24P' 'R1 7.2' 'R18' 'SF 9600' 'RS15.0' 'PLA 7 A'
 'R-7200' 'RSX8.5' 'R2' 'PLA 6 D' 'R-18' 'RS12.5' 'RS 15000' 'R1-9.6'
 'SFR 10.0' 'MR' 'PLA 6 B' 'R' 'R1-7.5' 'R12.5' 'R-12' 'GO' 'PLA 6 E'
 'RSX12.5' 'R1-5' 'RMH' 'RS8.4' 'PO' 'RS 8' 'NC3-40' 'NB' 'WD I' 'R18P'
 'PLA 7 B' 'R-6-P' 'R30' 'R8' 'UL-15000' 'RS 11.2' 'M2' 'R-9600' 'RC'
 'R40' 'RA' 'BCH' 'C1' 'RA10P' 'R3' 'R-24' 'SE' 'RS7000' 'RM1800' 'MFR'
 'G' 'RM' 'C3' 'MU' 'MR-D' 'R 8400' 'NR3' 'RSA 6' 'R2.5' 'NR2' 'RSX 7.2'
 'LR1 (M)' 'SR-4.5' 'NR1' 'R7' 'RS-7200' 'SR-6' 'RS-12000' 'LR1 (M1)'
 'RSA 4' 'R-2' 'RSL (M)' 'MUR-35' 'RS 11' 'LR2 (M1)' 'RA5SO' 'LR1'
 'RM3600' 'R 7200' 'LR2 (M)' 'LR2 RC (M)' 'R10' 'MUR-45' 'RS-9600' 'R6SO'
 'RS-8400' 'CE' 'C-1' 'SR-8' 'RA10SO' 'R-3' 'MIT' 'R 9600' 'R-L' 'PR-R'
 'O' 'SF-SL' 'UL-9600' 'RM-24' 'RS 8.5' 'RA2.5SO' 'A10' 'LR3 (M)' 'MC'
 'RS 6' 'R-14' 'CC-MU' 'MUR-70' 'OS2' 'BN' 'RSX 5.0' 'SR-3' 'RS 7.2'
 'RS 5.0' 'RM 3600' 'RSX 8.5' 'RSX 35' 'R-7.2' 'MR (M1)' 'R 5400d' 'SVV'
 'PLA 14' 'RSA 8' 'A35' 'F' 'RM 5.0' 'UH-UCR' 'R4.5' 'DC' 'LR3 (M1)'
 'RS-15000' 'AI-1' 'CM' 'R12PDPA' 'RM-12' 'R1SO'
 'RIN - Single Family Urban' 'SF-E' 'R 40000' 'RS 12.5' 'I' 'C1-55 (M)'
 'MHO' 'FBMU' 'HDR' 'R 4000' 'RM-18' 'UM-2400' 'RS-4000' 'NRH 3' 'RM 3.6'
 'LR3 (M2)' 'IG2 U/65' 'DUC' 'LR2' 'RMA 3.6' 'MDR' 'MIO-37-LR2'
 'LR2-RC (M1)' 'SF-D' 'RA-3600' 'R 5400a' 'R-SR' 'SR-1' 'MF-2L'
 'LR3 RC (M)' 'PLA 3C' 'AI-2' 'NC3-55 (M)' 'NC1-40 (M2)' 'RS 35' 'OP'
 'MR-G' 'TC C' 'CR' 'NBSO' 'RM2400' 'PR' 'NC2-55 (M1)' 'US R1' 'R12SO'
 'UH-900' 'M1' 'CLDR' 'NC3P-75 (M)' 'TC E' 'MIO-37-LR3 (M)' 'R 9600, SSHO'
 'R4PSO' 'R 2800' 'NC2-55 (M)' 'CC-2' 'RM-1800' 'RM-F' 'MR (M)' 'SR30'
 'NC1-40 (M)' 'PLA 6D' 'TC' 'RS35.0' 'DCE-T' 'NC3P-95 (M)' 'DT' 'R4SO'
 'MB' 'R24DPA' 'C2-75 (M)' 'PLA 16' 'NC3P-55 (M)' 'MF-H' 'NC2P-55 (M)'
 'R18DPA' 'UT-1' 'CBSO' 'CB1' 'MRT16' 'LR1 RC (M1)' 'IB U/85' 'RS 6.3'
 'CI' 'HCB' 'TC-4' 'RM-48' 'NC2P-40 (M)' 'RM 2.4' 'CB2' 'BR2' 'LR3' 'R-M'
 'C2' 'PLA 17' 'R8PSO' 'PLA 6E' 'I2' 'B-P' 'NC3-75 (M)' 'BO' 'RM-2400'
 'AG' 'PR 3.6' 'H-C' 'R8SO' 'RM-900' 'NC2-75 (M)' 'RSA 1' 'NC2-75 (M1)'
 'IPSO' 'MF-2' 'B' 'DR' 'UC' 'URSO' 'WD III' 'NC2P-55 (M1)' 'PLA 5A'
 'MSC 4' 'PR-C' 'CBPSODPA' 'HC' 'RMA 2.4' 'MR (M2)' 'RH 8' 'UV' 'MPD'
 'UV-EV' 'PUD' 'TC A3' 'R-30' 'C1-75 (M)' 'RA10DPA' 'NRH 2' 'R6PSO'
 'LR3 RC (M1)' 'R-7.5' 'NC1P-55 (M1)' 'NC2-40 (M)' 'SG-SF' 'SG-T'
 'R 5400a, OP' 'EH' 'NC1-55 (M)' 'NC3-75 (M1)' 'R4/C' 'LR3 RC' 'RMA 1.8'
 'EP-2' 'IG2 U/85' 'MSC 1' 'MIO-37-LR2 (M)' 'MUO' 'RA10PSO' 'LR1 RC (M)'
 'PBZ' 'NC1P-55 (M)' 'IG1 U/65' 'NC1-65 (M1)' 'GDC' 'R-20' 'NC3-75 (M2)'
 'NC1-75 (M2)' 'SM-UP 85 (M)' 'CF-OS' 'MUR' 'UH-1800' 'HR (M)'
 'NC2P-75 (M1)' 'MR RC (M1)' 'M' 'NC2-65 (M2)' 'C2P-55 (M)' 'NCC' 'RCC'
 'RS-A']

In [83]:
df.head()

,Unnamed: 0,sale_id,pinx,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
5384,5385,2020..204,..1900000125,2020-01-05,411900,1.0,15 26,demo,1999,47.468289,...,0,0,0,0,0,0,0,0,0,G
5386,5387,2020..532,..5101408525,2020-01-03,625000,NaN,,demo,1999,47.704662,...,0,0,0,0,0,0,0,0,0,C
5387,5388,2020..643,..2156400363,2020-01-06,460000,2.0,24,demo,1999,47.403445,...,0,0,0,0,0,0,0,0,0,I
5389,5390,2020..1508,..1022049092,2020-01-15,930000,3.0,,demo,1999,47.413624,...,0,3,3,0,0,0,0,0,0,K
5391,5392,2020..1681,..8901000773,2020-01-22,815000,NaN,,demo,1999,47.708265,...,0,0,0,0,0,0,0,0,0,C

In [84]:
# drop the 'Unnamed column'
df = df.drop(columns=['Unnamed: 0', 'pinx', 'area', 'join_status', 'join_year', 'present_use', 'sale_warning', 'wfnt', 'golf', 'greenbelt', 
                      'noise_traffic', 'view_rainier', 'view_olympics', 'view_cascades', 'view_territorial', 'view_skyline', 'view_sound', 
                       'view_lakewash', 'view_lakesamm', 'view_otherwater', 'view_other', 'submarket'])
df.set_index('sale_id')
df.head()

,sale_id,sale_date,sale_price,sale_nbr,latitude,longitude,city,zoning,subdivision,land_val,...,grade,fbsmt_grade,condition,stories,beds,bath_full,bath_3qtr,bath_half,garb_sqft,gara_sqft
5384,2020..204,2020-01-05,411900,1.0,47.468289,-122.348669,BURIEN,R-6,DASHLEYS ADD NO. 02,50000,...,5,0,3,1.0,2,1,0,0,0,0
5386,2020..532,2020-01-03,625000,NaN,47.704662,-122.319315,SEATTLE,SF 5000,MAPLE LEAF TO GREEN LAKE CIRCLE POR OF,80000,...,6,0,4,1.0,2,1,0,0,0,0
5387,2020..643,2020-01-06,460000,2.0,47.403445,-122.296944,DES MOINES,RM1.8,EAST DES MOINES FIVE-ACRE TRACTS,25000,...,6,0,3,1.0,3,1,0,0,0,0
5389,2020..1508,2020-01-15,930000,3.0,47.413624,-122.287447,SEA-TAC,RS15000,NaN,75000,...,6,0,3,1.0,3,1,0,0,0,0
5391,2020..1681,2020-01-22,815000,NaN,47.708265,-122.308711,SEATTLE,SF 7200,VICTORY HEIGHTS ADD,61000,...,7,0,4,2.0,4,2,0,1,0,480

In [85]:
df.to_csv('./kingcountysales_2020_2023.csv', index=False)